<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "profileata/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "profileata/css/style.css" %}">
</head>
<body>
    <div class="index-content">
        <div class="content-top-index">
            <div class="container-fluid">
                <div class="row content-top-img">
                    <img src="{% static "profileata/img/alpha-logo.png"%}" alt="logo alpha">
                </div>
                <div class="row content-top-texts">
                    <h1>Alpha Tech Academy</h1>
                    <span class="container text-long">Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months. Contact Person: Email : academy@alphatech.id Mobile phone:0877 9609 9530</span>
                </div>
            </div>
        </div>
        <div class="index-content-real">
            <div class="container">
                <div class="col-md-4">
                    <div class="image-wrapper-1">
                        <img src="{% static "profileata/img/benefit.png"%}" alt="">
                    </div>
                    <div class="image-wrapper-2">
                        <img src="{% static "profileata/img/search-job.png"%}" alt="">
                    </div>
                    <div class="image-wrapper-3">
                        <img src="{% static "profileata/img/get-paid.png"%}" alt="">
                    </div>
                    <div class="image-wrapper-4">
                        <img src="{% static "profileata/img/mission.png"%}" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="text-group-1">
                        <h2>Learn awesome tech</h2>
                        <span>You will learn about programming language, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library, etc.</span>
                    </div>
                    <div class="text-group-2">
                        <h2>Land new job</h2>
                        <span>If you can pass this awesome program, you will be part of our reliable tech team for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc.</span>
                    </div>
                    <div class="text-group-3">
                        <h2>Get paid to learn</h2>
                        <span>Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will receive pocket money just for participating. Cool, right?</span>
                    </div>
                    <div class="text-group-4">
                        <h2>Who are we?</h2>
                        <span>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (no even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia</span>
                    </div>
                    <div class="text-group-5">
                        <h2>What is our mission?</h2>
                        <span>We want to improve capability Tech Talent in Indonesia</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-content-lower">
            <div class="sub-title">
                <h2>What will you learn?</h2>
            </div>
            <div class="table-wrapper">
                <table>
                    <tr>
                        <td>
                            <img src="{% static "profileata/img/learn-html.png"%}" alt="">
                        </td>
                        <td>
                            <img src="{% static "profileata/img/learn-programming.png"%}" alt="">
                        </td>
                        <td>
                            <img src="{% static "profileata/img/learn-git.png"%}" alt="">
                        </td>
                        <td>
                            <img src="{% static "profileata/img/learn-api.png"%}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static "profileata/img/learn-react.png"%}" alt="">
                        </td>
                        <td>
                            <img src="{% static "profileata/img/learn-tdd.png"%}" alt="">
                        </td>
                        <td>
                            <img src="{% static "profileata/img/learn-server.png"%}" alt="">
                        </td>
                        <td>
                            <img src="{% static "profileata/img/learn-scrum.png"%}" alt="">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!---------------------------- footer start ---------------------------->
    <footer>
        <div class="container-fluid total-footer">
            <div class="row footer-upper">
                <div class="footer-up-text">
                    <span>Our Product:</span>
                </div>
                <div class="footer-up-list">
                    <ul class="list-unstyled daftar-gambar">
                        <li><img src="{% static "profileata/img/logo-grey-alphapay.png"%}"></li> <!--alphapay-->
                        <li><img src="{% static "profileata/img/logo-grey-sepulsa.png"%}"></li> <!--sepulsa-->
                        <li><img src="{% static "profileata/img/logo-grey-alphabill.png"%}"></li> <!--alphabill-->
                    </ul>
                </div>
            </div>
            <div class="row footer-lower">
                <span class="font-weight-bold">Contact Person:</span><span> Mobile phone: 0877 9609 9530 Email:academy@alphatech.id</span>
            </div>
        </div>
    </footer>
    <!---------------------------- footer end ------------------------------>
</body>
</html>