<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mentee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "profileata/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "profileata/css/style.css" %}">
</head>
<body>
    <!-------------------------- header start -------------------------------->
    <header>
        <div class="container-fluid all-header">
            <div class="row total-header align-item-center">
                <div class="col-md-3">
                    <span>Alpha Tech Academy</span>
                </div>
                <div class="col-md-4">
                    <!-- NONE, for spacing -->
                </div>
                <div class="col-md-5">
                    <div class="header--nav">
                        <ul class="header--nav-list list-unstyled">
                            <li><a href="{% url 'profileata:home' %}">Home</a></li>
                            <li><a href="{% url 'profileata:blog' %}">Blog</a></li>
                            <li><a class="nav-active" href="">Mentee</a></li>
                            <li><a href="{% url 'profileata:mentor' %}">Mentor</a></li>
                            <li><a href="{% url 'profileata:author' %}">Author</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-------------------------- header end -------------------------------->

    <!-- <span>TEST</span> -->
    <!---------------------------main article start------------------------->
    <div class="mentee-content">
        <div class="content-top">
            <div class="container-fluid">
                <div class="row content-top-img">
                    <img src="{% static "profileata/img/alpha-logo.png"%}" alt="logo alpha">
                </div>
                <div class="row content-top-texts">
                    <h1>Alpha Tech Academy</h1>
                    <span class="container text-long">Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months. Contact Person: Email : academy@alphatech.id Mobile phone:0877 9609 9530</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mentee-mid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <img src="{% static "profileata/img/jobs.png"%}" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>Steve Jobs</h2>
                        <span>"I learn so much from Alpha Tech"</span>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <img src="{% static "profileata/img/page.png"%}" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>Steve Jobs</h2>
                        <span>"Great place to learn about programming"</span>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <img src="{% static "profileata/img/mark.png"%}" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>Steve Jobs</h2>
                        <span>"The best place for who want to be great IT talent"</span>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------main article end-------------------------->
    <!---------------------------- footer start ---------------------------->
    <footer>
        <div class="container-fluid total-footer">
            <div class="row footer-upper">
                <div class="footer-up-text">
                    <span>Our Product:</span>
                </div>
                <div class="footer-up-list">
                    <ul class="list-unstyled daftar-gambar">
                        <li><img src="{% static "profileata/img/logo-grey-alphapay.png"%}"></li> <!--alphapay-->
                        <li><img src="{% static "profileata/img/logo-grey-sepulsa.png"%}"></li> <!--sepulsa-->
                        <li><img src="{% static "profileata/img/logo-grey-alphabill.png"%}"></li> <!--alphabill-->
                    </ul>
                </div>
            </div>
            <div class="row footer-lower">
                <span class="font-weight-bold">Contact Person:</span><span> Mobile phone: 0877 9609 9530 Email:academy@alphatech.id</span>
            </div>
        </div>
    </footer>
    <!---------------------------- footer end ------------------------------>
</body>
</html>